<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Sistema de Venta</h1>
    <button mat-icon-button (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #nav opened="true" mode="side" style="width: 210px;">
    <mat-nav-list>
      <mat-list-item routerLink="/pages/dashboard">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <div matListItemTitle>DashBoard</div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/usuario">
        <mat-icon matListItemIcon>group</mat-icon>
        <div matListItemTitle>Usuario</div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/productos">
        <mat-icon matListItemIcon>collections_bookmak</mat-icon>
        <div matListItemTitle>Productos</div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/ventas">
        <mat-icon matListItemIcon>currency_exchange</mat-icon>
        <div matListItemTitle>Ventas</div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/historial">
        <mat-icon matListItemIcon>edit_note</mat-icon>
        <div matListItemTitle>Historial Venta</div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/reportes">
        <mat-icon matListItemIcon>receipt</mat-icon>
        <div matListItemTitle>Reportes</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
