<div class="body">
    <mat-card class="loginCard">
        <div class="header">
            <h2>Login</h2>
        </div>
        <mat-card-content style="padding-bottom: 15px;">
            <form [formGroup]="formLogin" (submit)="iniciarSesion()">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput autocomplete="off">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input [type]="ocultarClave ? 'password' :'text'"
                     formControlName="password" matInput autocomplete="off">
                     <button mat-icon-button matSuffix 
                     (click)="ocultarClave = !ocultarClave" type="button">
                        <mat-icon matSuffix>{{ocultarClave?'visibility_off':'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button class="full-width" mat-raised-button color="primary" 
                    [disabled]="formLogin.invalid" type="submit">
                    Ingresar
                    <mat-icon>login</mat-icon>
                </button>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="mostrarLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>